body {
    background-color: #000;
}

#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
}

#landing-header hr {
    max-width: 400px;
    min-width: 200px;
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

footer {
    color: #828282;
    display: flex;
    padding: 10px 5px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
}

footer p {
    flex: 1;
    margin: 0;
}

.slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding:0;
}

.slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) { 
  background-image: url(../images/matt-whitacre-768748-unsplash.jpg);
}
.slideshow li:nth-child(2) { 
  background-image: url(../images/christopher-jolly-147391-unsplash.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(../images/tommy-lisbin-211935-unsplash.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(../images/sayan-nath-165552-unsplash.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(../images/andrew-scofield-101531-unsplash.jpg);
  animation-delay: 40s; 
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
}

/* older browser support */
.no-cssanimations .slideshow li {
	opacity: 1;
}